<!DOCTYPE html>
<html>
<head>
  {% block title %}<title>No Title</title>{% endblock title %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/normalize.css" %}"
  <link rel="stylesheet" href="{% static "css/stylee.css" %}"
</head>
<body>
  <nav>
    <ul class="nav_list">
      <li><a href="{% url "home" %}">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url "budget_view" %}">Budgets</a></li>
        <li><a href="{% url "logout" %}">Logout</a></li>
      {% else %}
        <li><a href="{% url "login" %}">Login</a></li>
        <li><a href="{% url "django_registration_register" %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
  {% block content %}<h2>No Content</h2>{% endblock content %}
</body>
</html>
